<div class="team-page">
    <h2 class="team-title">Nosso Time de Advogados</h2>
    
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="julius.jpg">
            </div>
            <div class="team-content">
              <h3 class="name">Julius Rock</h3>
              <h4 class="title">Advogado Economista da Família</h4>
            </div>
            <ul class="social">
              <li><a href="#" class="fa fa-facebook" aria-hidden="true"></a></li>
              <li><a href="#" class="fa fa-twitter" aria-hidden="true"></a></li>
              <li><a href="#" class="fa fa-google-plus" aria-hidden="true"></a></li>
              <li><a href="#" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="suresh.jpg">
            </div>
            <div class="team-content">
              <h3 class="name">Suresh Nahmadi</h3>
              <h4 class="title">Advogado de Comida de Rua</h4>
            </div>
            <ul class="social">
              <li><a href="#" class="fa fa-facebook" aria-hidden="true"></a></li>
              <li><a href="#" class="fa fa-twitter" aria-hidden="true"></a></li>
              <li><a href="#" class="fa fa-google-plus" aria-hidden="true"></a></li>
              <li><a href="#" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="woo-young-woo.jpg">
            </div>
            <div class="team-content">
              <h3 class="name">Woo Young Woo</h3>
              <h4 class="title">Advogada Criminalista</h4>
            </div>
            <ul class="social">
              <li><a href="#" class="fa fa-facebook" aria-hidden="true"></a></li>
              <li><a href="#" class="fa fa-twitter" aria-hidden="true"></a></li>
              <li><a href="#" class="fa fa-google-plus" aria-hidden="true"></a></li>
              <li><a href="#" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="rorunarudo.jpg">
            </div>
            <div class="team-content">
              <h3 class="name">O Bruxo</h3>
              <h4 class="title">Advogado Esportivo</h4>
            </div>
            <ul class="social">
              <li><a href="#" class="fa fa-facebook" aria-hidden="true"></a></li>
              <li><a href="#" class="fa fa-twitter" aria-hidden="true"></a></li>
              <li><a href="#" class="fa fa-google-plus" aria-hidden="true"></a></li>
              <li><a href="#" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  